   
header {
    height: 10vh;
    width: 100%;
    background-color: rgb(175, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
       height: 8vh;
       width: 8vh;
    }
    .logo{
        @extend .mys ;
        display: flex;
        align-items: center; 
    }
    a{
        text-decoration: none;
        color: black;
        padding-right: 3px;    
    }
}