main {
    text-align: center;
    color: white;
    height: 86vh;
    width: 80%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.porque {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        font-size: 1.3rem;
    }
}